@import url('https://fonts.googleapis.com/css?family=Elsie+Swash+Caps:400,900');
@import url('https://fonts.googleapis.com/css?family=Clicker+Script');
/* Importing Google font */

/* CSS Syntax
selector {
  property: value;
  property: value;
}
*/
/* Type Selector */

p {
  font-size: 16px; /* optional formats: 16px, ?pt, 100%, 1em */
  line-height: 1.5em; /* 1.5 x 16px */
}

figcaption {
  /*font-weight: normal;
  font-size: 0.75em;
  line-height: 1.5em;
  font-family: Georgia, "New Times Roman", serif;*/
  font: 0.75em/1.5em 'Elsie Swash Caps', Cursive;
  color: #777;
  text-align: right;
}

/* Class Selectors:  .class_name */
.milk-text {
  font: bold, 2.6em "Elsie Swash Caps", Cursive;
  color: white;
  text-shadow: 0 2px 3px #000;
}
/* Id Selectors: applied once to a unique element per page: #id_name */
#logo {

}
